
/* General */

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #141d26;
}

h1, h3, h5 {
    margin: 0;
    padding: 0;
}

header {
    background: url('assets/main-bg.png') no-repeat center center / cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    font-size: 2vh;
}


/* layout */

.blog-pic {
    width: 70%;
    margin: 0 auto;
}

.pic {
    max-width: 100%;
}

.video {
    margin-top: 50px;
}

video {

    display: block;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 920px;
}

/* typography */


.blog-title {
    padding-top: 40%;
    color: white;
    text-align: center;
}

.container p {
    color: white;
    padding: 20px;
}

p {
    font-size: 1.2rem;
}



.font1 {
    font-family: 'Lato', sans-serif;
}

.font2 {
    font-family: 'Mina', sans-serif;
}

.font3 {
    font-family: 'Raleway', sans-serif;
}

.font4 {
    font-family: 'Share Tech', sans-serif;
}