@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamMedium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url("fonts/GothamBook.ttf");
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamLight.ttf");
  font-weight: lighter;
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham Book", Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

ul[class*="nav"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

ul[class*="nav"] li {
  display: inline-block;

}


.navigation-list li {
  padding: 0 22px;

}

.social-nav li {
  padding: 0 1.45em;

}

a {
  color: #fff;
  text-decoration: none;
}

.header__navigation a:hover {
  border-bottom: 6px solid #11749e;
  padding-bottom: 2.6em;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  font-size: 1.1em;
  padding: 22px 0;
  font-weight: normal;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hero {
  min-height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__background {
  background: url("img/herobg.jpg") no-repeat top center / cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}

.main-title {
  font-family: "Gotham", Arial, sans-serif;
  font-size: 9.375em;
  font-weight: bold;
}

.sub-title {
  font-family: "Gotham", Arial, sans-serif;
  letter-spacing: 20px;
  color: #11749e;
  font-size: 1.5625em;
  font-weight: normal;
}

.hero__scroll-button {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__scroll-button span {
  padding: 10px;
}

.btn_down {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 50%;
}

/*---------- About ----------*/


.about {
  background-color: #11749e;
  font-size: 15px;
  padding: 50px 0;
}

.about__content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.letter_ghost {
  position: absolute;
  display: block;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10.5em;
}

.about__title,
.blog__text,
.contact__title {
  position: relative;
  font-family: "Gotham";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.75em;
  text-align: center;
  padding: 100px 0;
}

.about__features {
  display: flex;
  flex-flow: row wrap;
  font-family: "Gotham";
  font-weight: lighter;
  text-align: center;
}

.about__features-item {
  flex: 1 1 20%;
  transition: background-color .7s;
}

.about__features-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.about__features-item:not(:last-child) {
  margin-right: 1%;
}

.feature-icon i {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 1.75em;
  font-size: 2em;
}

/*---------- News ----------*/

.news__pic {
  width: 100%;
  height: auto;
}

.news__item {
  display: flex;
  justify-content: center;
}

.news__item div {
  flex: 1 1 50%;
}

.news__content {
  padding: 50px;
  line-height: 1.5;
}

.news__content:first-child {
  background-color: #222;
}

.news__content:last-child {
  background-color: #f3f3f3;
  color: #000;
}

.date::after {
  content: "";
  border-right: 1px solid black;
  margin: 0 15px;
}

h3 {
  font-family: "Gotham";
  font-size: 1.75em;
  font-weight: normal;
  text-transform: uppercase;
}

.news__paragraph,
.news__info {
  font-family: "Gotham Book";
  font-size: 1em;
}

/*---------- Blog ----------*/

.blog {
  font-size: 15px;
  font-family: "Gotham Book";
}

.blog__title {
  position: relative;
  font-size: 1.75em;
  padding: 50px 0;
}


.blog__title .letter_ghost {
  color: #d7d7d7;
}

.blog__content {
  color: #000;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.blog__items {
  display: flex;
}

.blog-item {
    margin: 0 2%;
}

.item-pic {
  width: 100%;
}

.item-heading {
  color: #11749e;
  text-transform: uppercase;
}

/*---------- Quick Action ----------*/

.quick-action {
  background-color: #11749e;
}

.quick-action__content {
  display: flex;
  padding: 50px 0;
  font-size: 0.8em;

}

.quick-action__item {
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.icon {
  font-size: 3em;
  margin-right: 5%;
}

/*---------- Key feature ----------*/

.kf {
  background: url("kf.png") no-repeat center / cover;
}

.kf-content {
  display: flex;
  padding: 50px 0;
}

.kf__text {
  display: flex;
  flex-direction: column;
  justify-content: flex;
}

.features-item {
  text-transform: uppercase;
  background-color: #11749e;
  margin: 20px 0;
  padding: 10px;
}

.kf__paragraph {
  width: 50%;
}

.features-item:nth-child(1) {
  width: 35%;
}

.features-item:nth-child(2) {
  width: 40%;
}

.features-item:nth-child(3) {
  width: 45%;
}

.contact {
  background: url("contact.png") no-repeat center / cover;
}

.contact__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.contact__inputs {
  width: 100%;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
}



input,
textarea {
  background-color: transparent;
  padding: 10px;
  color: white;
}

input {
  flex: 1 1 30%;
  margin: 2% 1%;
}

textarea {
  flex: 1 1 100%;
  resize: none;
  height: 200px;
}


.submit-button {
  background-color: #11749e;
  border: none;
}




@media all and (max-width: 1000px) {
  body {
    font-size: 10px;
  }

  .about {
    font-size: 10px;
  }
}
