* {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


h1, h2, h3,
h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 14px; 
}

.wrapper {
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 75%;
    margin: 0 auto;
}

ul[class*="menu"] {
    list-style: none;
    margin: 0;
    padding: 0;
}

a[class$="link"] {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 1.3em;
    border-top: 3px solid transparent;
    transition: border .4s, color .4s;
}

a[class$="link"]:hover {
    color: #dab33e;
    border-top: 3px solid #c2bfb6;
}

li[class*="menu"] {
    display: inline-block;
}

.header {
    background: url("img/Bg.png") no-repeat center / cover;
}

.header__content {
    display: flex;
    flex-flow: column nowrap;
}

.header__top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link {
    display: block;
    padding: 3.125em 1.5625em;
}

.menu__social-link i {
    color: #dab33e;
}

.brand {
    color: #fff;
    font-family: "Yeseva One";
    font-size: 2.5em;
}

.header__promo {
    text-align: center;
    padding: 5em 0 10em;
}

.title {
    font-family: "Yeseva One", Arial, Helvetica, sans-serif;
    font-size: 5.625em;
    color: #fff;
    max-width: 75%;
    margin: 0 auto;
    line-height: 1.5;
}

.divider::after,
.divider_yellow::after,
.divider_white::after {
    text-align: center;
    display: block;
    margin: -0.5em 0 0;
}

.divider::after {
    content: url("img/divider1.png");
}

.divider_yellow::after {
    content: url("img/Divider-yellow.png");
    margin: 0.5em;
}

.divider_white::after {
    content: url("img/divider-white.png");
    margin: 0.5em;
}

.btn {
    display: inline-block;
    color: #fff;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.3em 3.125em;
    margin: 0 1em;
}

.btn_black {
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, .5);
}

.btn_white {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, .5);
}

.about {
    background: #fafafa url(img/pattern.png) repeat;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em 0;
}

.about__content div {
    flex: 1 1 50%;
}

.about__text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2em;
    text-align: center;
}

.about__para {
    text-align: center;
    font-size: 1.1em;
    color: #4c4c4c;
    line-height: 1.5;
    padding: 1em 0 2em 0;;
}

.text-pic {
    padding-left: 5em;
}

.about__picture_big {
    width: 90%;
}

.title_small,
.title_small_white {
    padding: 0.5em;
    text-align: center;
    font-family: "Yeseva One", Arial, Helvetica, sans-serif;
    color: #cc9900;
    font-size: 2.5em;
}

.title_small_white {
    color: #fff;
}

.ingridients {
    position: relative;
    height: 80%;
}

.ingridients__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center;
    color: #fff;
    padding: 5em;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
}

.ingridients__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("img/bgi.png") no-repeat center / cover;
}

.ingridients__img-grid-item {
    display: inline-block;
    margin: 5px;
}

.offers {
    background: #edf1f2 url("img/pattern2.png") repeat center;
    padding: 2em 0;
}

.offers__grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.menu-group {
    flex: 1 1 50%;
}

.menu-group__list {
    padding: 0 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    
}


.list-descript {
    border-top: 1px solid #c89f2d;
    padding: 1em 0;
    width: 100%;
    font-size: 1.1em;
}

.list-name,
.list-price {
    font-size: 1.7em;
    font-family: "Yeseva One", Arial, Helvetica, sans-serif;
    color: #c89f2d;
}

.list-price {
    margin-left: auto;
}

.reviews {
    position: relative;
    height: 100vh;
}

.reviews__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url("img/bgr.png") no-repeat center / cover;
}

.reviews__quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    max-width: 40%;
    padding: 5em 2em;
}

.reviews__text {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    text-align: justify;
    color: #dde0df;
    line-height: 2;
}

.quote-author {
    display: block;
    margin: 1em;
    text-align: center;
}


.reservation {
    background: #f9fafa url("img/pattern.png") repeat center;
    padding: 3em 0;
}

.reservation__content {
    display: flex;
    flex-wrap: wrap;
}

.reservation__images {
    flex: 1 1 50%;
    text-align: center;
}

.reservation__pic {
    display: inline-block;
    margin: .5em;
}

.reservation__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
}

.reservation__para {
    text-align: center;
    font-size: 1.2em;
}

.reservation__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.reservation__form label {
    flex: 1 1 50%;
    margin: 1em 0;
}

.reservation__form label span {
    display: block;
    margin: 0 3em;
    text-align: left;
    color: #cc9900;
    font-size: 1.2em;
    font-weight: bold;
}

.reservation__form input {
    width: 70%;
    padding: 1em;
}

.reservation__form input:focus {
    border: 1px solid #cc9900;
}

.button {
    color: #fff;
    background-color: #cc9900;
    padding: 0.5em 3em;
    border: none;
    cursor: pointer;
    margin: 2em 0;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__text {
    width: 33.33%;
}

.footer__para {
    margin: 0 auto;
    padding: 0 1em 3em 0;
    width: 70%;
}


@media all and (max-width: 1600px) {
    body {
        font-size: 12px;
    }

    .ingridients__img-grid {
        display: none;
    }
}